<ion-header class="ion-no-border">
  <ion-toolbar style="background:#F4FAF6" class="main-toolbar">
    <ion-title style="text-align: start;">
      Welcome to FreshFruits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border" style="background:#F4FAF6;">
  <div class="small-toolbar">
    <ion-icon ios="menu-outline" md="menu-sharp" name="menu" class="icon"></ion-icon>
  </div>
  <div class="title-toolbar">
    <strong class="title">Shop</strong> Here
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="searchbar">
      <ion-searchbar></ion-searchbar>
    </div>
  </div>

</ion-content>
